<category>
  <term>{{ categoryTerm }}</term>
  {{# categoryScheme }}
  <categoryScheme>{{ . }}</categoryScheme>
  {{/ categoryScheme }}
  {{# categoryLabel }}
  <categoryLabel>{{ . }}</categoryLabel>
  {{/ categoryLabel }}
</category>